.tabs {
    display: flex;
    gap: 10px;
}

.tabs button {
    background-color: transparent;
    border: none;
    color: #f1f0ec;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.3s ease;
    z-index: 1;
    position: relative;
}

.tabs button.active {
    color: #204A53;
}

.tabs button.active:hover::after {
    transform: scaleX(0);
}

.tabs button::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #f1f0ec;
    bottom: -5px;
    left: 10%;
    transition: all 0.3s ease;
    z-index: 1;
    transform: scaleX(0);
}

.tabs button:hover::after {
    transform: scaleX(1);
}

.tabs-container {
    position: relative;
    background-color: #204A53;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.tab-indicator {
    position: absolute;
    inset: 0;
    background-color: #f1f0ec;
    border-radius: 10px;
    z-index: -1;
}