.header{
    display: flex;
    flex-direction: column;
    background-color: #204A53;
    color: #f1f0ec;
    z-index: 1000;
    box-shadow: #0000009a 0px 2px 4px;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}   
.logo-content{
    display: flex;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: brightness(0) invert(1);
}