body {
    background-color: #f1f0ec;
    color: #204A53;
    height: 100%;
}

html {
    height: 100vh;
}

::selection {
    background: #F9F4AD;
    color: #0f2429;
    opacity: 1;
}

main {
    position: relative;
    margin-top: 20px;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr 1fr;
    gap: 1rem;
}

p {
    color: #204A53;
    font-size: 1.2rem;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    opacity: .7;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

section {
    height: 100%;
    overflow: hidden;
}