.activity-tab {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F9F4AD;
  color: #204A53;
  font-family: monospace;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  z-index: 2;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transform: translateY(100%) scale(0.8);
  transition: transform 0.4s ease-out, opacity 0.3s ease-out;
}

.activity-tab.moving {
  transform: translateY(0) scale(0.8); /* sobe, mas ainda pequeno */
  opacity: 1;
  pointer-events: none;
}

.activity-tab.growing {
  transform: translateY(0) scale(1); /* agora cresce */
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.3s ease-in;
}
